header {
    position: relative;
}

.hero {
    position: relative;
    height: 650px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 65%;
    display: block;
}

/* Overlay – bara över bilden */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

/* Text över bilden */
.hero h1 {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 4.5em;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4em;
    font-family: "Cantata One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Meny över bilden */
nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* lätt genomskinlig */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
}

/* Logotyp */
.logo {
    height: 140px;
}

/* Menyns lista */
nav ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: flex;
    gap: 4em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}